<div class="row flex align-item-center">


  <mat-form-field class="w-full flex align-item-center justify-content-between">
    <mat-label>Todo</mat-label>
    <div class="flex justify-content-between align-items-center">
      <input matInput (keyup.enter)="emitValue(txtDescription.value)" class="w-3 rounde" type="text" name="description"
        placeholder="Write new todo...." #txtDescription>

      <button mat-icon-button color="primary" aria-label="Icon button send todo">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </mat-form-field>



</div>